.btn {
  display: block;
  width: 100%;
  padding: 26px 55px;
  text-align: center;
  font: 600 22px/1.22 $montserrat-font;
  background-color: $primary-color;
  color: $white-color;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: $main-color;
  }

  &:focus {
    background-color: rgba($main-color, 0.8);
  }

  &[disabled],
  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  &-icon {
    background-color: transparent;
    color: $black-color;
    border: none;
    line-height: 1;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $primary-color;
    }
  }
}
