@font-face {
  font-family: "Nunit";
  src: url("../fonts/Converted_fonts/NunitoSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppinst";
  src: url("../fonts/Converted_fonts/Poppins-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Converted_fonts/Ubuntu-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
