.footer {
  padding: 74px 0;

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 100px;
    border-top: 2px solid $main-color;
  }

  &__nav {
    width: 25%;

    &-title {
      font: $h5-font;
      color: $main-color;
      padding-bottom: 51px;
    }

    &-item:not(:last-child) {
      margin-bottom: 27px;
    }

    &-link {
      font: 400 18px/1.2 $montserrat-font;
      color: $main-color;
      opacity: 0.8;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .footer {
    &__wrap {
      flex-wrap: wrap;
      padding-top: 20px;
    }

    &__nav {
      width: 50%;
      margin-bottom: 30px;

      &-title {
        padding-bottom: 10px;
      }

      &-item:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

@media (max-width: 630px) {
  .footer {
    &__nav {
      width: 100%;
    }
  }
}
