.header {
  padding: 78px 0;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    line-height: 0;

    &-img {
      max-width: 177px;
      max-height: 48px;
      width: auto;
      height: auto;
    }
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
    }

    &-item {
      padding: 0 57px;
    }

    &-link {
      font: 400 19px/1.2 $nunito-font;
      &:hover {
        color: $primary-color;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: 0 -42px;
  }
  &__action {
    padding: 0 42px;
    line-height: 0;
  }
}

@media (max-width: 1024px) {
  .header {
    &__nav {
      position: fixed;
      width: 50%;
      min-width: 380px;
      background-color: #fff;
      left: 0;
      top: 0;
      bottom: 0;
      padding: 61px 0;
      transform: translateX(-100%);
      transition: all 0.3s;
      z-index: 9;

      &-list {
        display: block;
      }
      &-item {
        padding: 0;
      }
      &-link {
        display: block;
        font: $h4-font;
        padding: 10px 10px;
      }

      /* add class "is-open" to <nav class="header__nav"> result <nav class="header__nav header__nav-is-open"> */
      &-is-open {
        transform: translateX(0);
        box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
      }
    }
    &__action {
      padding: 0px 30px;

      .action-item-menu {
        display: block;
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    &__wrap {
      display: block;
    }
    &__actions {
      padding-top: 30px;
      padding-left: 15px;
    }
  }
}
