@font-face {
  font-family: "Nunit";
  src: url("../fonts/Converted_fonts/NunitoSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppinst";
  src: url("../fonts/Converted_fonts/Poppins-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Converted_fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Converted_fonts/Ubuntu-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  margin: 0;
  color: #282a30;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #282a30;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-title {
  font: 700 100px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}

.main-title__shadow {
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.btn {
  display: block;
  padding: 26px 55px;
  text-align: center;
  font: 600 22px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
  background-color: #f7515c;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #282a30;
}

.btn:focus {
  background-color: rgba(40, 42, 48, 0.8);
}

.btn[disabled], .btn:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-icon {
  background-color: transparent;
  color: #000;
  border: none;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-icon:hover {
  color: #f7515c;
}

.header {
  padding: 78px 0;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  line-height: 0;
}

.header__logo-img {
  max-width: 177px;
  max-height: 48px;
  width: auto;
  height: auto;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  padding: 0 57px;
}

.header__nav-link {
  font: 400 19px/1.2 "Nunito", Arial, Helvetica, sans-serif;
}

.header__nav-link:hover {
  color: #f7515c;
}

.header__actions {
  display: flex;
  align-items: center;
  margin: 0 -42px;
}

.header__action {
  padding: 0 42px;
  line-height: 0;
}

.heading {
  padding: 20px 0 160px;
}

.heading__wrap {
  display: flex;
  align-items: center;
  position: relative;
  background: url(../img/heading-decor-full.svg) -100px 28px no-repeat;
}

.heading__wrap::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 264px;
  background-image: url(../img/heading-decor-2.png);
  background-repeat: no-repeat;
  left: -100px;
  top: 45px;
}

.heading__text {
  width: 59%;
  padding-right: 87px;
}

.heading__img {
  width: 41%;
  max-height: 698px;
  padding-right: 36px;
  position: relative;
}

.heading__img::before {
  position: absolute;
  content: "";
  width: calc(100% - 36px);
  height: 100%;
  right: 0;
  bottom: -65px;
  background-color: rgba(229, 229, 229, 0.1);
  z-index: -2;
}

.heading__img::after {
  position: absolute;
  content: "";
  width: 64%;
  padding-bottom: 41%;
  background-image: url(../img/heading-decor.svg);
  background-repeat: no-repeat;
  right: -42px;
  top: 19px;
  z-index: -1;
}

.heading__images {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.heading__label {
  display: block;
  color: #f7515c;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.heading__title {
  display: block;
  font: 700 55px/1.45 "Montserrat", Arial, Helvetica, sans-serif;
  margin-bottom: 41px;
}

.heading__btns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.heading__btn {
  padding-bottom: 10px;
}

.heading__btn:not(:last-child) {
  margin-right: 67px;
}

.heading__btn-watch {
  position: relative;
  font-weight: 600;
  padding: 20px 10px 20px 82px;
  color: #282a30;
}

.heading__btn-watch:before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.15);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.heading__btn-watch::after {
  position: absolute;
  content: "";
  border: 9px solid transparent;
  border-left: 13px solid currentColor;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.about {
  padding: 160px 0 147px;
}

.about__wrap {
  display: flex;
  align-items: flex-start;
}

.about__img {
  width: 48%;
  max-height: 723px;
  padding-right: 128px;
  position: relative;
  z-index: 1;
}

.about__img::before {
  position: absolute;
  content: "";
  width: 75%;
  padding-bottom: 52%;
  background-image: url(../img/about-decor-1.png);
  background-repeat: no-repeat;
  right: 82px;
  bottom: 93px;
  z-index: -2;
}

.about__img::after {
  position: absolute;
  content: "";
  width: 83%;
  padding-bottom: 53%;
  background-image: url(../img/about-decor.svg);
  background-repeat: no-repeat;
  right: 35px;
  bottom: -85px;
  z-index: 2;
}

.about__images {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.about__images::before {
  position: absolute;
  content: "";
  width: 45%;
  padding-bottom: 39%;
  background-image: url(../img/about-decor-2.png);
  background-repeat: no-repeat;
  left: -48px;
  bottom: 25px;
  z-index: -1;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  width: 52%;
  padding-top: 55px;
}

.about__text .main-title {
  margin-bottom: 47px;
}

.about__label {
  color: #282a30;
  font: 700 60px/1.22 "Montserrat", Arial, Helvetica, sans-serif;
}

.about__info {
  font: 400 22px/1.36 "Nunito", Arial, Helvetica, sans-serif;
  color: #282a30;
  opacity: 0.5;
  margin-bottom: 41px;
  line-height: 2.2;
}

.media-guide {
  padding: 139px 0 74px;
}

.media-guide__inner {
  display: flex;
  justify-content: space-between;
  background: url("../img/dots.png") bottom right no-repeat;
  padding-right: 79px;
}

.media-guide__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  padding-right: 50px;
}

.media-guide__box a {
  margin-top: 64px;
}

.media-guide__img {
  max-width: 506px;
}

.footer {
  padding: 74px 0;
}

.footer__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 100px;
  border-top: 2px solid #282a30;
}

.footer__nav {
  width: 25%;
}

.footer__nav-title {
  font: 700 26px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  color: #282a30;
  padding-bottom: 51px;
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 27px;
}

.footer__nav-link {
  font: 400 18px/1.2 "Montserrat", Arial, Helvetica, sans-serif;
  color: #282a30;
  opacity: 0.8;
}

.footer__nav-link:hover {
  color: #f7515c;
}
/*# sourceMappingURL=style.css.map */